extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				h1.text-center.login-title 
					img(style="size:20%" class='img-responsive', src='/images/logo_1449076_print.png')
				br 
				br
				div.account-wall
					div.text-center
					form(class='form-signin', action='/login', method='POST')
						label Username
						input(type='text', name='username' class='form-control', placeholder='Username',required, autofocus)
						label Password
						input(type='password', name='password' class='form-control', placeholder='Password', required)
						br
						button(class='btn btn-lg btn-primary btn-block', type='submit') Login
						span.clearfix
				h4.text-center
					a(href='/signup', class='text-center new-account') Crea un account
				#message
				if message
					h1.text-center.error-message #{message}
