<!--Titolo-->
<div class="row">
    <div class="col-sm-12">
        <h1>Produci-Facile!</h1>
        <!--<button type="button" ng-click="produciFacile()" class="btn btn-lg btn-primary">
            Calcola
        </button>-->
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <!-- Filtro -->
        <div>
            <h3>
                Filtro
                <!--<span class="glyphicon glyphicon-search lg" aria-hidden="true"></span>-->
            </h3>
            <form class="form-inline">
                <!-- filtro clienti -->
                <div class="form-group">
                    <input class="form-control"
                           name="input1"
                           id="idfilterClient"
                           ng-model="filterClientiProduciFacile">
                    <label for="idfilterClient">
                        <button type="button" class="btn btn-default active">
                            Cliente &nbsp;
                            <span class="glyphicon glyphicon-search lg" aria-hidden="true"></span>
                        </button>
                    </label>
                </div>

                <!-- filtro prodotti -->
                <div class="form-group">
                    <input class="form-control"
                           name="input1"
                           id="idfilterProduct"
                           ng-model="filterProduciFacile">
                    <label for="idfilterProduct">
                        <button type="button" class="btn btn-default active">
                            Prodotto &nbsp;
                            <span class="glyphicon glyphicon-search lg" aria-hidden="true"></span>
                        </button>
                    </label>
                </div>

                <!-- Filtro dettagli soddisfatti o no -->
                <div class="form-group">
                    <select ng-model="filterDetailSatisfied" class="form-control" id="idfilterDetailSatisfied">
                        <option value=""></option>
                        <option value="success">Soddisfatti</option>
                        <option value="warningDanger">Da Soddisfare</option>
                    </select>
                    <label for="idfilterDetailSatisfied">
                        <button type="button" class="btn btn-default active">
                            Ordini &nbsp;
                            <span class="glyphicon glyphicon-search lg" aria-hidden="true"></span>
                        </button>
                    </label>
                </div>

            </form>
        </div>
    </div>
</div>


<!-- Ordini -->
<div class="row">

    <div class="col-sm-7">
        <h2>
            Ordini
            <button type="button" class="btn btn-primary"
                    ng-click="startInsertOrder()"
                    tooltip="Aggiungi">
                <span class=" glyphicon glyphicon-plus" aria-hidden="true">
                </span>
            </button>
        </h2>
    </div>

    <!-- Produzione -->
    <div class="col-sm-5">
        <h2>
            Produzione
            <button type="button" class="btn btn-primary"
                    ng-click="startInsertProduction()"
                    tooltip="Aggiungi">
                <span class=" glyphicon glyphicon-plus" aria-hidden="true">
                </span>
            </button>

        </h2>
    </div>

</div>

<!-- Tabella ordini -->
<div class="row">
    <div class="col-md-7">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th class="text-center">Cliente</th>
                        <th class="text-center">Consegna</th>
                        <th class="text-center">Scadenza</th>
                        <th class="text-center">Dettaglio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="showOrder in orders | filter: filterProduciFacile | filter: filterClientiProduciFacile | satisfactionFilterOrder: filterDetailSatisfied"
                        class="item-listing">
                        <td>{{orders.indexOf(showOrder)}}</td>
                        <td class="text-center">
                            <!--Bottone modifica-->
                            <!--<button ng-click="startUpdateOrder(showOrder)" type="button"
                    class="btn btn-default btn-sm" data-toggle="modal" data-target="#updateOrder"
                    tooltip="Modifica">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </button>-->
                            <!-- Bottone aggiungi dettaglio -->
                            <button type="button" class="btn btn-default btn-sm"
                                    ng-click="beginAddOrderDetail(showOrder)"
                                    tooltip="Aggiungi">
                                <span class=" glyphicon glyphicon-plus" aria-hidden="true">
                                </span>
                            </button>
                            <!--Bottone cancella-->
                            <button ng-click="startDeleteOrder(showOrder)" class="btn btn-default btn-sm"
                                    tooltip="Cancella">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </td>
                        <td>{{showOrder.client.companyName}}</td>
                        <td class="text-center">
                            <button class="btn btn-default btn-sm" type="button" ng-click="beginUpdateOrderDate(showOrder)">
                                {{showOrder.date | date:'dd/MM/yy'}}
                            </button>
                        </td>
                        <td class="text-center">{{showOrder.lastDay | date:'dd/MM/yy'}}</td>
                        <td>
                            <!-- Tabella dettaglio ordine -->
                            <table class="table table-condensed table-hover">
                                <tr ng-repeat="showSavedDetail in showOrder.details | filter:filterProduciFacile | satisfactionFilterDetail : filterDetailSatisfied"
                                    ng-class="setDetailClass(showSavedDetail)"
                                    class="item-listing">

                                    <td class="text-left">
                                        <!--Bottone cancella-->
                                        <button ng-click="startDeleteOrderDetail(showOrder,showSavedDetail)" class="btn btn-default btn-sm"
                                                tooltip="Cancella">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                        </button>
                                        <!-- Bottone modifica -->
                                        <button class="btn btn-default btn-sm"
                                                tooltip="Modifica"
                                                ng-click="beginUpdateOrderDetail(showOrder,showSavedDetail)">
                                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                    <td>
                                        {{minDateDetail(showOrder,showSavedDetail) | date : 'dd/MM/yy'}}
                                        <!--<span ng-show="showSavedDetail.quantity - showSavedDetail.satisfiedQuantity != 0">
            </span>-->
                                    </td>
                                    <td>{{showSavedDetail.product.name}}</td>
                                    <td class="text-right">
                                        {{showSavedDetail.quantity}}
                                    </td>
                                    <td class="text-right">
                                        {{showSavedDetail.quantity - showSavedDetail.satisfiedQuantity == 0 ? "" : showSavedDetail.quantity - showSavedDetail.satisfiedQuantity}}
                                        {{showSavedDetail.dateSatisfaction | date: 'dd/MM/yy'}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <!-- Tabella Produzione -->
    <div class="col-md-5">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-condense">
                <thead>
                    <tr>
                        <th></th>
                        <th class="text-center">Data</th>
                        <th class="text-center">Prodotto</th>
                        <th class="text-center">Quantità</th>
                        <th class="text-center">Eccesso</th>
                        <th class="text-center">Rulli</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="showProduction in productions | filter:filterProduciFacile"
                        class="item-listing">
                        <td class="text-center">
                            <!--Bottone modifica-->
                            <!--<button ng-click="startUpdateProduction(showProduction)" type="button"
                                    class="btn btn-default btn-sm" data-toggle="modal"
                                    tooltip="Modifica">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </button>-->
                            <!--Bottone cancella-->
                            <button ng-click="startDeleteProduction(showProduction)" class="btn btn-default btn-sm"
                                    tooltip="Cancella">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-default btn-sm " ng-click="beginUpdateDateProduction(showProduction)">
                                {{showProduction.date | date:'dd/MM/yy'}}
                            </button>
                        </td>
                        <td>{{showProduction.product.name}}</td>
                        <td class="text-center">
                            <button class="btn btn-default btn-sm" ng-click="beginUpdateProductionQuantity(showProduction)">
                                {{showProduction.quantity}}
                            </button>
                        </td>
                        <td class="text-center" ng-class="setProductionClass(showProduction)">
                            {{showProduction.leftQuantity}}
                        </td>
                        <td class="text-center" ng-class="setMaxProductionClass(showProduction)">
                            {{showProduction.quantity / showProduction.product.colliSuRulli | number : 1}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal Insert Order-->
<div class="modal fade" id="insertUpdateOrder" tabindex="-1" role="dialog"
     aria-labelledby="insertUpdateOrderLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"
                    id="insertOrderUpdateLabel">
                    <label ng-if="modalita == 'insert'">Inserisci</label>
                    <label ng-if="modalita == 'update'"> Modifica </label>
                    <span ng-if="modalita == 'update'" class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </h4>
            </div>
            <div class="modal-body">
                <tabset>
                    <!-- Tab per l'inserimento cliente e data -->
                    <tab heading="Data - Cliente">
                        <br />
                        <form ng-submit="insertUpdateOrderForm.$valid && addUpdateOrder()"
                              class="formInsert"
                              name="insertUpdateOrderForm"
                              novalidate>
                            <!--Input data-->
                            <div class="form-group"
                                 ng-class="{'has-success has-feedback': insertUpdateOrderForm.input1.$valid}">
                                <!--{{order.date | date:'dd/MM/yyyy'}}-->
                                <label for="orderInput1">Da
                                <label for="orderInput1">Data</label>
                                <input class="form-control"
                                       name="input1"
                                       id="orderInput1"
                                       ng-model="order.date"
                                       datepicker-popup="dd/MM/yyyy"
                                       required />
                                <!--<span class="glyphicon glyphicon-ok form-control-feedback"
                                ng-show="insertOrderForm.input1.$valid"></span>-->
                                <div style="display:inline-block; min-height:290px;">
                                    <datepicker ng-model="order.date"
                                                min-date="minDate"
                                                show-weeks="false"
                                                class="well well-sm"></datepicker>
                                </div>
                            </div>

                            <!--Input CLiente-->
                            <div class="form-group"
                                 ng-class="{'has-success has-feedback': insertUpdateOrderForm.input2.$valid}">
                                <label for="orderInput2">Cliente</label>
                                <select ng-options="optionClient as optionClient.companyName for optionClient in clients |orderBy : 'companyName'"
                                        ng-model="order.client"
                                        class="form-control"
                                        id="orderInput2"
                                        name="input2"
                                        required></select>
                                <!--<select ng-options="prova as prova.companyName for prova in clients"
                                        ng-model="selectClients.client"
                                        class="form-control"
                                        id="orderDetailsInput1"
                                        name="inputDetails1"
                                        required></select>-->
                                <!--<span class="glyphicon glyphicon-ok form-control-feedback"
                                ng-show="insertOrderForm.input2.$valid"></span>-->
                            </div>
                            <div class="text-center">
                                <button type="submit"
                                        class="btn btn-primary"
                                        tooltip="Salva" tooltip-placement="right">
                                    Salva &nbsp;
                                    <span class="glyphicon glyphicon-floppy-disk lg" aria-hidden="true"></span>
                                </button>
                            </div>
                        </form>
                    </tab>
                    <!-- Tab per l'inserimento dettagli -->
                    <tab heading="Dettagli">
                        <br />
                        <form ng-submit="insertOrderDetailsForm.$valid && addDetailOrder()"
                              name="insertOrderDetailsForm"
                              novalidate>

                            <!-- Input Prodotto -->
                            <div class="form-group"
                                 ng-class="{'has-success has-feedback': insertOrderDetailsForm.inputDetails1.$valid}">
                                <label for="orderDetailsInput1">Prodotto</label>
                                <select ng-options="product as product.name for product in products | orderBy:'name'"
                                        ng-model="detail.product"
                                        class="form-control"
                                        id="orderDetailsInput1"
                                        name="inputDetails1"
                                        required></select>
                            </div>
                            <div class="form-group"
                                 ng-class="{'has-success has-feedback': insertOrderDetailsForm.inputDetails2.$valid}">
                                <label for="orderDetailsInput2">Quantità</label>
                                <input class="form-control"
                                       name="inputDetails2"
                                       id="orderDetailsInput2"
                                       ng-model="detail.quantity"
                                       type="number"
                                       required
                                       min="0">
                                <span class="glyphicon glyphicon-ok form-control-feedback"
                                      ng-show="insertOrderDetailsForm.inputDetails2.$valid"></span>
                            </div>
                            <div class="alert alert-info alert-dismissible" role="alert" ng-show="alertOrderDetail">
                                <button type="button" class="close" ng-click="hideAlertOrderDetail()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                Prodotto già presente
                            </div>
                            <button type="submit"
                                    class="btn btn-primary"
                                    tooltip="Aggiungi"
                                    tooltip-placement="right">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </form>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Prodotto</th>
                                    <th>Quantità</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="showDetail in order.details">
                                    <td>
                                        <!--Bottone cancella-->
                                        <button ng-click="deleteDetail(showDetail)" class="btn btn-default"
                                                tooltip="Cancella">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                    <td>{{showDetail.product.name}}</td>
                                    <td>{{showDetail.quantity}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </tab>
                </tabset>
            </div>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
            </div>-->
        </div>
    </div>
</div>

<!--Modal Delete-->
<div class="modal fade" id="deleteOrder" tabindex="-1" role="dialog" aria-labelledby="deleteOrderLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"
                    id="deleteOrderLabel">
                    Cancella
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning" role="alert">
                    Vuoi cancellare l'ordine del cliente <b>{{orders[indexDelete].client.companyName}}</b>
                    del <b>{{orders[indexDelete].date | date: 'dd/MM/yyyy'}}</b>?
                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="deleteOrder()" type="button" class="btn btn-default" data-dismiss="modal">Sì</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>


<!--Modal Delete Order Detail-->
<div class="modal fade" id="deleteOrderDetail" tabindex="-1" role="dialog" aria-labelledby="deleteOrderDetailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"
                    id="deleteOrderDetailLabel">
                    Cancella
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning" role="alert">
                    Cancellare il dettaglio ordine di {{orders[indexUpdate].details[indexSelectedDetail].quantity}} colli di {{orders[indexUpdate].details[indexSelectedDetail].product.name}}?
                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="deleteOrderDetail()" type="button" class="btn btn-default" data-dismiss="modal">Sì</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<my-modal-message my-message="message"></my-modal-message>


<!-- Modal Insert/Update Production-->
<div class="modal fade" id="insertUpdateProduction" tabindex="-1" role="dialog"
     aria-labelledby="insertUpdateProductionLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"
                    id="insertProductionUpdateLabel">
                    <label ng-if="modalita == 'insert'">Inserisci</label>
                    <label ng-if="modalita == 'update'"> Modifica </label>
                    <span ng-if="modalita == 'update'" class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </h4>
            </div>
            <div class="modal-body">

                <form ng-submit="insertUpdateProductionForm.$valid && addUpdateProduction()
                      && quantitaProduzioneValida()"
                      class="formInsert"
                      name="insertUpdateProductionForm"
                      novalidate>
                    <!--Input data-->
                    <div class="form-group"
                         ng-class="{'has-success has-feedback': insertUpdateProductionForm.input1.$valid}">
                        <!--{{order.date | date:'dd/MM/yyyy'}}-->
                        <label for="productionIn
                        <label for=" productioninput1">Data</label>
                        <input class="form-control"
                               name="input1"
                               id="productionInput1"
                               ng-model="production.date"
                               datepicker-popup="dd/MM/yyyy"
                               required />
                        <datepicker ng-model="production.date"
                                    show-weeks="false"
                                    class="well well-sm"
                                    date-disabled="disabled(date, mode)"></datepicker>
                    </div>
                    <!-- Input Prodotto -->
                    <div class="form-group"
                         ng-class="{'has-success has-feedback': insertUpdateProductionForm.input2.$valid}">
                        <label for="productionInput2">Prodotto</label>
                        <select ng-options="product as product.name for product in products | orderBy:'name'"
                                ng-model="production.product"
                                class="form-control"
                                id="productionInput2"
                                name="input2"
                                required></select>
                    </div>

                    <!-- Bottone fill production -->
                    <div class="form-group">
                        <label for="buttonFillProduction">Livello massimo</label>
                        <button type="button"
                                class="btn btn-default"
                                tooltip="Riempi" tooltip-placement="right"
                                id="buttonFillProduction"
                                ng-click="fillProduction()">
                            {{production.product.maxDailyProduction}} &nbsp;
                            <span class="glyphicon glyphicon glyphicon-flash " aria-hidden="true"></span>
                        </button>
                    </div>

                    <!-- Input quantita -->
                    <div class="form-group"
                         ng-class="{'has-success has-feedback': quantitaProduzioneValida()}">
                        <label for="productionInput3">Quantità</label>
                        <input class="form-control"
                               name="input3"
                               id="productionInput3"
                               ng-model="production.quantity"
                               type="number"
                               required
                               min="0">
                        <div class="alert alert-info alert-dismissible" role="alert" ng-show="alertProductionQuantity">
                            <button type="button" class="close" ng-click="hideAlertProductionQuantity()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            Quantità oltre il livello massimo
                        </div>
                        <!--<span class="glyphicon glyphicon-ok form-control-feedback"
                              ng-show="insertUpdateProductionForm.input3.$valid"></span>-->
                    </div>

                    <div class="text-center">
                        <button type="submit"
                                class="btn btn-primary"
                                tooltip="Salva" tooltip-placement="right">
                            Salva &nbsp;
                            <span class="glyphicon glyphicon-floppy-disk lg" aria-hidden="true"></span>
                        </button>
                    </div>

                </form>



            </div>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
            </div>-->
        </div>
    </div>
</div>

<!--Modal Delete Production-->
<div class="modal fade" id="deleteProduction" tabindex="-1" role="dialog" aria-labelledby="deleteProductionLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"
                    id="deleteProductionLabel">
                    Cancella
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning" role="alert">
                    Vuoi cancellare la produzione del prodotto <b>{{productions[indexDelete].product.name}}</b>
                    del <b>{{productions[indexDelete].date | date: 'dd/MM/yyyy'}}</b>?
                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="deleteProduction()" type="button" class="btn btn-default" data-dismiss="modal">Sì</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal update Date Order -->
<div class="modal fade" id="updateDate" tabindex="-1" role="dialog" aria-labelledby="updateDateLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"
                    id="updateDateLabel">
                    Modifica la data dell'ordine
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </h4>
            </div>
            <div class="modal-body">
                <div style="display:inline-block; min-height:290px;">
                    <datepicker ng-model="date"
                                show-weeks="false"
                                class="well well-sm"></datepicker>
                </div>
                <div class="text-center">
                    <button type="button"
                            class="btn btn-primary"
                            tooltip="Salva"
                            tooltip-placement="right"
                            ng-click="updateDateOrder()">
                        Salva &nbsp;
                        <span class="glyphicon glyphicon-floppy-disk lg" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal update Detail Order -->
<div class="modal fade" id="updateOrderDetail" tabindex="-1" role="dialog" aria-labelledby="updateOrderDetailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"
                    id="updateOrderDetailLabel">
                    Modifica dettaglio ordine
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Prodotto</th>
                            <th>Quantità</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{orders[indexUpdate].details[indexSelectedDetail].product.name}}</td>
                            <td>{{orders[indexUpdate].details[indexSelectedDetail].quantity}}</td>
                        </tr>
                    </tbody>
                </table>
                <form name="updateOrderDetailForm"
                      novalidate>
                    <!--Input modifica quantità-->
                    <div class="form-group">
                        <label for="updateOrderDetailFormInput1">Aggiungi o rimuovi</label>
                        <input class="form-control"
                               name="input1"
                               id="updateOrderDetailFormInput1"
                               ng-model="deltaQuantity"
                               type="number">
                        <!--<span class="glyphicon glyphicon-ok form-control-feedback"
                              ng-show="updateOrderDetailForm.input1.$valid"></span>-->
                    </div>
                    <div class="text-center">
                        <span>
                            <button class="btn btn-primary"
                                    tooltip="Rimuovi"
                                    tooltip-placement="left"
                                    ng-click="updateOrderDetail('minus')">
                                <span class="glyphicon glyphicon-minus lg" aria-hidden="true"></span>
                            </button>
                        </span>
                        <span>
                            <button class="btn btn-primary"
                                    tooltip="Aggiungi"
                                    tooltip-placement="right"
                                    ng-click="updateOrderDetail('plus')">
                                <span class=" glyphicon glyphicon-plus lg" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal Insert new detail order-->
<div class="modal fade" id="insertDetailOrder" tabindex="-1" role="dialog"
     aria-labelledby="insertDetailOrderLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"
                    id="insertDetailOrderLabel">
                    <label>Inserisci dettaglio</label>
                </h4>
            </div>
            <div class="modal-body">
                <br />
                <form ng-submit="insertOrderDetailsForm.$valid && addNewDetailOrder()"
                      name="insertOrderDetailsForm"
                      novalidate>

                    <!-- Input Prodotto -->
                    <div class="form-group"
                         ng-class="{'has-success has-feedback': insertOrderDetailsForm.inputDetails1.$valid}">
                        <label for="orderDetailsInput1">Prodotto</label>
                        <select ng-options="product as product.name for product in products | orderBy:'name'"
                                ng-model="detail.product"
                                class="form-control"
                                id="orderDetailsInput1"
                                name="inputDetails1"
                                required></select>
                    </div>
                    <div class="form-group"
                         ng-class="{'has-success has-feedback': insertOrderDetailsForm.inputDetails2.$valid}">
                        <label for="orderDetailsInput2">Quantità</label>
                        <input class="form-control"
                               name="inputDetails2"
                               id="orderDetailsInput2"
                               ng-model="detail.quantity"
                               type="number"
                               required
                               min="0">
                        <span class="glyphicon glyphicon-ok form-control-feedback"
                              ng-show="insertOrderDetailsForm.inputDetails2.$valid"></span>
                    </div>
                    <div class="alert alert-info alert-dismissible" role="alert" ng-show="alertOrderDetail">
                        <button type="button" class="close" ng-click="hideAlertOrderDetail()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        Prodotto già presente
                    </div>
                    <button type="submit"
                            class="btn btn-primary"
                            tooltip="Aggiungi"
                            tooltip-placement="right">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                </form>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Prodotto</th>
                            <th>Quantità</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="showDetail in details">
                            <td>{{showDetail.product.name}}</td>
                            <td>{{showDetail.quantity}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
            </div>-->
        </div>
    </div>
</div>


<!-- Modal update Quantità Produzione -->
<div class="modal fade" id="updateQuantityProduction" tabindex="-1" role="dialog" aria-labelledby="updateQuantityProductionLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"
                    id="updateQuantityProductionLabel">
                    Modifica produzione
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Prodotto</th>
                            <th>Quantità</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{productions[indexUpdate].date | date: 'dd/MM/yyyy'}}</td>
                            <td>{{productions[indexUpdate].product.name}}</td>
                            <td>{{productions[indexUpdate].quantity}}</td>
                        </tr>
                    </tbody>
                </table>
                <form name="updateQuantityProductionForm"
                      novalidate>
                    <!--Input modifica quantità-->
                    <div class="form-group">
                        <label for="updateQuantityProductionFormInput1">Aggiungi o rimuovi</label>
                        <input class="form-control"
                               name="input1"
                               id="updateQuantityProductionFormInput1"
                               ng-model="productionDeltaQuantity"
                               type="number"
                               required>
                        <!--<span class="glyphicon glyphicon-ok form-control-feedback"
                              ng-show="updateQuantityProductionForm.input1.$valid"></span>-->
                    </div>
                    <!-- Bottone fill production -->
                    <div class="form-group">
                        <label for="buttonFillDeltaProduction">Aumento massimo</label>
                        <button type="button"
                                class="btn btn-default"
                                tooltip="Riempi" tooltip-placement="right"
                                id="buttonFillDeltaProduction"
                                ng-click="fillDeltaProduction()">
                            {{productions[indexUpdate].product.maxDailyProduction - productions[indexUpdate].quantity}} &nbsp;
                            <span class="glyphicon glyphicon glyphicon-flash " aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="text-center">
                        <span>
                            <button class="btn btn-primary"
                                    tooltip="Rimuovi"
                                    tooltip-placement="left"
                                    ng-click="updateProductionQuantity('minus')">
                                <span class="glyphicon glyphicon-minus lg" aria-hidden="true"></span>
                            </button>
                        </span>
                        <span>
                            <button class="btn btn-primary"
                                    tooltip="Aggiungi"
                                    tooltip-placement="right"
                                    ng-click="updateProductionQuantity('plus')">
                                <span class=" glyphicon glyphicon-plus lg" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal update Date Production -->
<div class="modal fade" id="updateDateProduction" tabindex="-1" role="dialog" aria-labelledby="updateDateProductionLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"
                    id="updateDateProductionLabel">
                    Modifica la data della produzione
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </h4>
            </div>
            <div class="modal-body">
                <div style="display:inline-block; min-height:290px;">
                    <datepicker ng-model="date"
                                min-date="minDate"
                                show-weeks="false"
                                class="well well-sm"
                                date-disabled="disabled(date, mode)"></datepicker>
                </div>
                <div class="text-center">
                    <button type="button"
                            class="btn btn-primary"
                            tooltip="Salva"
                            tooltip-placement="right"
                            ng-click="updateDateProduction()">
                        Salva &nbsp;
                        <span class="glyphicon glyphicon-floppy-disk lg" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>